backups/
.places
auto-save-list/
elpa/
tramp
*~
*.elc
.mc-*
semanticdb/
ac-comphist.dat
ido.last
ede-projects.el
.sx/
url/
recentf
helm-adaptive-history
abbrev_defs
eshell/*
!eshell/alias
projectile-bookmarks.eld
custom.el
/kkcrc
/.cask/
